{% extends 'base.html.twig' %}


{% block body %}
        <h1>

        </h1>

        <p>{{ products.name }}</p>
        {#        <img src={{ asset( products.image) }}>#}
        <p>{{ products.desciption }}</p>
        {{ form(form) }}


{% endblock %}